.container {
    max-width: 400px;
    margin: 18% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cccccccb;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: logo-spin 2s linear infinite;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.toggle-link {
    color: #007bff;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}
